*::-webkit-input-placeholder {
	color: #434242;
	opacity: 1;
}
*:-moz-placeholder {
	color: #434242;
	opacity: 1;
}
*::-moz-placeholder {
	color: #434242;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #434242;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid { 
	 
}
body {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 140%;
	color: #434242;
	overflow-x: hidden;
	margin: 0;
	background: #fdfaf6;
} 
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
*:link, 
*:visited, 
*:hover, 
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.container {
	max-width: 1920px;
}

.row > div {
	padding: 0 15px;
}
.row {
	margin: 0 -15px;
}

.logo img {
	max-width: 210px;
	width: 100%;
	height: auto;
	display: block;
}
.menu__dropdown {
	display: none;
}
.menu__dropdown li {
	margin-bottom: 2px;
}
.menu__dropdown li a {
	padding: 6px 10px;
	font-size: 14px;
	line-height: 140%;
	color: #17333f;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.6);
	display: block;
}
.menu__dropdown li a:hover {
	background: rgba(255, 255, 255, 0.8);
}

.header {
	padding: 22px 0 0;
	font-size: 14px;
	line-height: 160%;
	background: #FCFBF8;
	position: relative;

}.header__wrapper {

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__item + .header__item {
	margin: 0 auto;
}
.search-main {
	width: 390px;
	position: relative;
}
.search-main input {
	height: 56px;
	padding: 16px 20px;
	padding-right: 69px;
	font-size: 14px;
	line-height: 140%;
	color: #17333f;
	font-family: 'Roboto';
	background: #fff;
	border: none;
	width: 100%;
}
.btn-search {
	width: 65px;
	height: 56px;
	top: 0;
	right: 0;
	position: absolute;
	border: none;
	padding: 0;
	background: transparent;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px auto;
}
.header__item p {
	margin: 0;
}
.header__item strong {
	font-weight: 500;
}
.phones-list {
	font-size: 16px;
	line-height: 160%;
	font-weight: 600;
}
.phones-list a {
	color: #17333f;
}

.header-link {
	color: #17333f;
}

.btn-main {
	height: 48px;
	padding: 0 15px;
	font-size: 16px;
	line-height: 160%;
	color: #fff;
	border-radius: 8px;
	background: #EB1B3D;
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	font-family: 'Roboto';
	cursor: pointer;
}
.btn-main:hover {
	background: #2095A9;
}

.phone-descr {
	font-family: Roboto;
	font-weight: 400;
	font-size: 13px;
	line-height: 18.2px;
	text-align: right;
	display: block;
}

.header__bottom {
	background: #2095A9;	
	margin-top: 10px;
}

.header__bottom .menu {	
	height: 68px;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.header__bottom .menu a {
	font-family: Roboto;
	font-size: 16px;
	line-height: 22.4px;
	color: #fff;
}
.breadcrumbs {
    padding: 20px 0;
    line-height: 140%;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}
.breadcrumbs a {
    color: #fff;
    border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-bottom: 1px solid #fff;
}
.breadcrumbs li::after {
    content: "/";
    margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.sandwich span {
	display: block;
}
.sandwich {
	width: 64px;
	height: 64px;
	/* margin-right: 50px; */
	padding-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-radius: 50%;
	flex-direction: column;
	align-items: center;
	flex: none;
	cursor: pointer;
	background: #f1faff;
	position: relative;
	z-index: 1;
}
.sandwich::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: -1;
	background: linear-gradient(88.14deg, #00559F 2.82%, #06A9F0 99.21%), #F1FAFF;
	opacity: 0;
	transition: all 0.3s;
}

.sw-topper {
	position: relative;
	top: 5px;
	width: 20px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #00559f;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-bottom {
	position: relative;
	top: 9px;
	width: 20px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #00559f;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 13px;
	width: 20px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #00559f;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sandwich.active .sw-topper {
	top: 11px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 7px;
	transform: rotate(-45deg); 
}
.sandwich.sandwich_mobile,
.menu-mobile {
	display: none;
}

.billbord {
	padding-top: 15px;
    padding-bottom: 30px;
    background-image: url(../img/about-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;	
}

.billbord .title-big {
	font-family: Roboto;
	font-weight: 600;
	font-size: 64px;
	line-height: 76.8px;
	letter-spacing: 0%;
	color: #fff;
}
.billbord .billbord__content {
	font-family: Roboto;
	font-weight: 600;
	font-size: 36px;
	line-height: 50.4px;
	letter-spacing: 0%;
	color: #fff;
}
.banner-card-row {
	margin-top: 150px;
}
.banner-card {
	box-sizing: border-box;
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	padding: 54px 41px;
	background: white;
	border-radius: 16px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
  }

  .banner-card-container {
	box-sizing: border-box;
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	gap: 20px;
	align-items: center;
	justify-content: flex-start;
  }
  .banner-card-image {
	box-sizing: border-box;
	display: block;
	flex: 0 0 auto;
	width: 50px;
	max-width: initial;
	height: 50px;
	overflow: hidden;
  }
  .banner-card-heading {
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #2f3d4a;
  }
	.advantages {
		padding: 60px 0px 30px;
	}

  .advantages-col {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	gap: 19px;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 20px;
	background: white;
	border-radius: 16px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
  }

  .svg-container {
	box-sizing: border-box;
	display: flex;
	flex: 0 0 auto;
	width: 24px;
	height: 24px;
	overflow: hidden;
	color: #2095a9;
  }

  .advantages-text-block {
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 28.8px;
  }

  .advantages-text-title {
	font-family: Roboto;
	font-weight: 600;
	font-size: 18px;
	line-height: 28.8px;
  }

  .solutions {
	padding: 30px 0px;
  }
  .section-title {
	font-family: Roboto;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #2F3D4A;
    margin-bottom: 30px;	
  }
  .solutions-row {
	padding-top: 20px;
  }
  .solutions-col-wr {
	position: relative;
	margin-bottom: 20px;
  }
  .solutions-col-wr::after {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 16px;
  }
  .solutions-col {	
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 430px;
	padding: 24px;
	background: url("../img/solution1.jpeg");
	background-repeat: no-repeat, no-repeat;	
	background-size: cover;
	border-radius: 16px;
  }
 

  .solutions-heading {
	font-family: Roboto;
	font-weight: 600;
	font-size: 18px;
	line-height: 28.8px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	position: relative;
    z-index: 1;
  }

.sertificats {
	padding: 30px 0px;
}

  .slick-arrow {
	width: 55px;
	height: 55px;
	font-size: 20px;
	color: #2095A9;
	background: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	cursor: pointer;
	transition: all 0.3s;
	}
	.slick-arrow:hover {
		background: #2095A9;
		color: #fff;
	}
	.slick-arrow::before {
		display: none;
	}
	.slick-prev {
		left: -70px;
	}
	.slick-next {
		right: -70px;
	}

	.slick-dots {
		bottom: -20px;
	}

	.slick-slide {
		height: auto !important;
	}

	.item-sertificat {
		display: block;
		height: 430px;
	}

	.item-sertificat img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
	}

	.works {
		padding: 30px 0px 0px;
	}

	.item-works {
		width: 100%;
		height: 248px;
		display: block;
	}

	.item-works img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.work-descrip {
		margin-top: 10px;
		font-family: Roboto;
	}

	.work-title {
		font-family: Roboto;
		font-weight: 600;
		font-size: 18px;
		line-height: 28.8px;
		color: #2F3D4A;
	}

	#map {
		margin-top: 70px;
		height: 580px;
		width: 100%;
		background: #fff;
	}

	.footer {
		padding: 40px 0px;
		background: #186A7C;
	}

	.footer .logo {
		width: 100%;
		display: flex;
    	justify-content: center;
	}

	.footer .logo img {
		width: 100%;
		max-width: 150px;
		height: 100%;
		object-fit: contain;
	}

	.footer,
	.footer a {
		color: #fff;
	}
	.footer-row {
		justify-content: space-between;
	}

	.footer__nav a {
		font-family: Roboto;		
		font-size: 14px;
		line-height: 18.8px;
	}

	.footer__title {
		font-family: Roboto;		
		font-size: 16px;
		line-height: 20.8px;
		font-weight: 600;
    	margin-bottom: 5px;
	}

	.footer__text {
		font-family: Roboto;		
		font-size: 14px;
		line-height: 18.8px;
	}

	.billbord.main-page {
		padding-top: 150px;
		padding-bottom: 150px;
		background-image: url(../img/billbord.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;	
	}

	.billbord.main-page .title-big {
		text-transform: uppercase;
	}

	.about-section {
		padding: 60px 0px;
	}

	.about-section .about-descrip {
		font-family: Roboto;		
		font-size: 18px;
		line-height: 28.8px;
		margin-bottom: 30px;
	}

	.about-section .about-descrip ul {
		padding-top: 20px;
		padding-left: 30px;
	}

	.about-section .about-descrip ul li {
		list-style: disc;
	}

	.about-section .about-img {
		border-radius: 16px;
		overflow: hidden;
	}

	.about-section .about-img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	section.consultation {
		padding: 60px 0px;
	}
	
.item-form input,
.item-form textarea {
	padding: 0 20px;
	height: 54px;
	border-radius: 8px;
	font-size: 14px;
	line-height: 160%;
	font-weight: 300;
	color: #434242;
	background: #fff;
	width: 100%;
	border: none;
	font-family: Roboto;	
	margin-bottom: 15px;
}
.form-page .row > div {
	padding: 0 8px;
}
.form-page .row {
	margin: 0 -8px;
}
form .btn-main {
	position: relative;
	height: 54px;
}
.btn-main input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	font-family: Roboto;	
	color: inherit;
	font-weight: inherit;
	font-family: inherit;
	cursor: pointer;
	text-transform: inherit;
}
.form-page .btn-main {
	width: 100%;
}

.checkbox {
	font-size: 13px;
	line-height: 17px;
	margin-top: 21px;
	justify-content: center;
	color: #525252;
	font-weight: 400;
	opacity: 0.5;
	letter-spacing: normal;
	display: flex;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 3px 0 0 32px;
	display: block;
	cursor: pointer;
	color: #fff;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 19px;
	height: 19px;
	border: 1px solid #fff;
	border-radius: 2px;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	width: 19px;
	height: 19px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	background-image: none;
	color: #fff;
	font-size: 11px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.consultation-form {
	padding: 65px 45px 40px;
	background-image: url(../img/form-backgound.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
    border-radius: 16px;
}

.form-title {
	font-family: Roboto;		
	font-size: 36px;
	line-height: 40.8px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #fff;
	text-align: center;
}

.form-subtitle {
	font-family: Roboto;		
	font-size: 20px;
	line-height: 130%;
	font-weight: 400;
	color: #fff;
	text-align: center;
}

.form-page {
	margin-top: 30px;
}
.about-faq {
	padding: 60px 0px;
}
.item-question {
	margin-bottom: 24px;	
	background: #E9ECEF;
	border-radius: 6px;
}
.item-question__head {
	padding: 10px;
	padding-left: 20px;
	gap: 35px;
	font-size: 20px;
	line-height: 140%;
	font-weight: 500;
	letter-spacing: 0.02em;
	color: #2b2a29;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;	
}
.item-question__head i {
	width: 24px;
	height: 24px;
	color: #2F3D4A;
	border-radius: 50%;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: #fdfaf6; */
	transition: all 0.3s;
}
.item-question.active .item-question__head i {
	transform: rotate(180deg);
}
.item-question__content {
	padding: 15px 20px;
	padding-right: 113px;	
	display: none;
	background-color: #fdfaf6;
}

.modal-block {
	display: none;
	padding: 0;
	border-radius: 20px;
	background: #2095A9;
}
.modal-wrap {
	padding: 30px;
	width: 400px;
	max-width: 100%;	
	margin: 0 auto;
}

.modal-wrap .btn-main {
	width: 100%;
	vertical-align: middle;
}
.modal-wrap .checkbox {
	justify-content: center;
}